In [1]:
!pip install pandas pycountry country-converter >/dev/null

%matplotlib inline
%reload_ext autoreload
%autoreload 2

import sys
import os
directory_path = os.path.abspath(os.path.join('scripts'))
if directory_path not in sys.path:
    sys.path.append(directory_path)

In [2]:
from country_lookup import CountryLookup

coco = CountryLookup()
coco["Usa"]

,alpha_2,alpha_3,flag,name,numeric,official_name,common_name
234,US,USA,ðŸ‡ºðŸ‡¸,United States,840,United States of America,NaN

In [3]:
coco[["DE", "China(PRC)", "Usa"]]

,alpha_2,alpha_3,flag,name,numeric,official_name,common_name
43,CN,CHN,ðŸ‡¨ðŸ‡³,China,156,People's Republic of China,NaN
59,DE,DEU,ðŸ‡©ðŸ‡ª,Germany,276,Federal Republic of Germany,NaN
234,US,USA,ðŸ‡ºðŸ‡¸,United States,840,United States of America,NaN